* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Calibri, Helvetica, sans-serif;
}

header {
    margin-bottom: 3em;
    padding: 1em;
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: #f5f5f5; */
}

.card > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;

}

.card {
    border: 2px solid #000;
    border-width: 1px 0 1px;
    padding: 20px 0;
}

.card__title a {
    color: inherit;
    text-decoration: none;
}

.card:first-child {
    border-top-width: 2px;
}

.card:last-child {
    border-bottom-width: 2px;
}

hr {
    border-color: #000;
}

.search {
    width: 100%;
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    padding: 10px;
}